<app-titulo-seccion titulo="Flujo de producción" numero="5" departamento="Planeación"></app-titulo-seccion>
<div class="flex flex-col items-center gap-2 py-5">
    <div class="w-full ">
        <app-form-input form="planeacion" label="Diseño Estructural" name="diseñio_estructural"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="PrePrensa" name="preprensa"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Metalizado" name="metalizado"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Corte" name="corte"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Impresion" name="impresion"></app-form-input>
    </div>

    <div class="w-full ">
        <app-form-input form="planeacion" label="Barniz UV" name="barniz_uv"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Traslape" name="traslape"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Empalme" name="empalme"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Suaje" name="suaje"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Pegue caja" name="pegue_caja"></app-form-input>
    </div>

    <div class="w-full ">
        <app-form-input form="planeacion" label="Pegue ventana" name="pegue_ventana"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Acabados" name="acabados"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input form="planeacion" label="Maquilas" name="maquilas"></app-form-input>
    </div>

</div>