<app-titulo-seccion titulo="Flujo de producción" numero="5" departamento="Planeación" [habilitado]="!isDisabledForm"></app-titulo-seccion>
<div class="flex flex-col items-center gap-2 py-5">
    <div class="w-full ">
        <app-form-input [form]="formName" label="Diseño Estructural" name="disenio_estructural"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="PrePrensa" name="preprensa"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Metalizado" name="metalizado"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Corte" name="corte"></app-form-input>
    </div>
    <!-- <div class="w-full ">
        <app-form-input [form]="formName" label="Impresion" name="impresion"></app-form-input>
    </div> -->

    <div class="w-full ">
        <app-form-input [form]="formName" label="Barniz UV" name="barniz_uv"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Traslape" name="traslape"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Empalme" name="empalme"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Suaje" name="suaje"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Pegue caja" name="pegue_caja"></app-form-input>
    </div>

    <div class="w-full ">
        <app-form-input [form]="formName" label="Pegue ventana" name="pegue_ventana"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Acabados" name="acabados"></app-form-input>
    </div>
    <div class="w-full ">
        <app-form-input [form]="formName" label="Maquilas" name="maquilas"></app-form-input>
    </div>

</div>