<!-- component -->
<div class="p-4 max-w-lg mx-auto  ">
    <ul role="list" class="-mb-8">
      <li>
        <div class="relative pb-8">
            <!-- Eliminar cuando sea el ultimo -->
          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span class="h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-white">
                <img  src="https://servicios.litoprocess.com/colaboradores/api/foto/111" />                
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Descripcion del evento</p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                <span>Sep 20</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="relative pb-8">
            <!-- Eliminar cuando sea el ultimo -->
          <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span class="h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-white">
                <img  src="https://servicios.litoprocess.com/colaboradores/api/foto/111" />                
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Descripcion del evento</p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                <span>Sep 20</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      
    </ul>
  </div>