
<div class="flex  justify-between  mt-3  border px-2 py-1 rounded bg-slate-100 shadow">    
    <div class="flex">
        <div class="h-10 w-10 bg-blue-200 rounded-full flex flex-shrink-0 justify-center items-center text-blue-500  font-mono">{{numero}}</div>
        <div class="pl-3 font-semibold text-xl self-center text-gray-700">
          <h2 class="text-sm  sm:text-xl  leading-relaxed">{{titulo}}</h2>            
        </div>        
    </div>
    <div class="self-end text-end pl-2 font-semibold text-sm  text-slate-400 sm:flex hidden">
        <h2 class="leading-relaxed">{{departamento}}</h2>    
      </div>
</div>
