<div class=" max-w-full sm:max-w-screen-2xl sm:mx-auto bg-gray-100  pb-2   ">
  <div class="relative">
    @if(!cargandoDatos()){
      <app-menu-solicitud 
      (onGuardar)="onGuardar()" 
      [codigoInterno]="solicitud.codigo_interno || ''"
      (onRegresar)="onRegresar()"
      [catalogoAreas]="catalogoAreas()"
      [habilitarGuardar]="areasSeleccionadas().length>0  && actualizoInformacion()  && solicitud.id_estado!='4'"
      [guardando]="guardando() "
        [(areasSeleccionadas)]="areasSeleccionadas"></app-menu-solicitud>
    }
    
  </div>
  
  <ng-container [formGroup]="formGeneral">
    <div class=" h-[90vh] w-full sm:max-w-4xl  p-5  sm:p-10 overflow-auto  bg-white  sm:mx-auto shadow rounded-md  ">  
      <div class=" ">  
        <form class="divide-y divide-gray-200  ">
          <div class="text-base space-y-4 text-gray-700     ">
            
            @if(guardando()  || cargandoDatos()){
              <app-skeleton></app-skeleton>
            }@else{                                                           
              <div class="pt-7 text-inter">
                <div class="flex flex-col space-y-2">
                  <div class="flex gap-2"><span class="text-md font-bold">Trabajo:</span>{{solicitud.nombre}}</div>    
                  <div class="flex gap-2"><span class="text-md font-bold">Cliente:</span>{{solicitud.cliente}}</div>    
                  <div class="flex gap-2"><span class="text-md font-bold">OP:</span>{{solicitud.OP}}</div>    
                </div>
                
                
                              
                <app-seccion1  formName="customer" *ngIf="isAreaVisible('customer')  " [formGeneral]="formGeneral"  />
                <app-seccion2  formName="disenioEstructural" *ngIf="isAreaVisible('disenioEstructural')"  [formGeneral]="formGeneral" />
                <app-seccion3   formName="cotizacion" *ngIf="isAreaVisible('cotizacion')" [formGeneral]="formGeneral"  />
                <app-seccion4   formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral"  />
                <app-seccion5   formName="planeacion" *ngIf="isAreaVisible('planeacion')" [formGeneral]="formGeneral"  />
                <app-seccion6   formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion7   formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion8   formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion9   formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion10  formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion11  formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion12  formName="prePrensa" *ngIf="isAreaVisible('prePrensa')" [formGeneral]="formGeneral" />
                <app-seccion13  formName="disenioEstructural" *ngIf="isAreaVisible('disenioEstructural')" [formGeneral]="formGeneral" />
                <app-seccion14  formName="customer" *ngIf="isAreaVisible('customer')" [formGeneral]="formGeneral" />
                <app-seccion14_1  formName="logistica" *ngIf="isAreaVisible('logistica')" [formGeneral]="formGeneral" />
                <app-seccion15  formName="customer" *ngIf="isAreaVisible('customer')" [formGeneral]="formGeneral" />


                @if(solicitud.autorizaciones!.length>0){
                  <app-titulo-seccion titulo="Control de validaciones" numero="16"                
                  departamento="Todos"></app-titulo-seccion>
                  <div class="grid grid-cols-2 gap-2 pt-2" >                 
                    @for(autorizacion of solicitud.autorizaciones;track autorizacion.modulo)
                    {
                      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white font-inter">
                        <div class="flex items-center p-2">                          
                            <img class="w-16 h-16 rounded-full mr-4 border-2 hover:border-blue-400 " src="https://servicios.litoprocess.com/colaboradores/api/foto/{{autorizacion.personal || '-1' }} " alt="User Avatar">                          
                          <div class="text-left">
                            <div class="font-bold text-md mb-2  capitalize">{{autorizacion.nombre}}</div> 
                            <span class="inline-block bg-gray-200 rounded-sm capitalize px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{autorizacion.etiqueta }}</span>                                                  
                          </div>
                        </div>
                        <div class="flex justify-end">
                          <p class="text-gray-400 text-xs  py-2 mr-5">
                            {{autorizacion.fecha_evento | date:'dd-MM-yyyy '}}
                          </p>                 
                        </div>
                        
                      </div> 
                    }                                                                                                                                     
                  </div>
                }
               
               
               
              </div>

              
              
            }                                            
          </div>
        </form>
        
      </div>
      
      <p-scrollTop target="parent" styleClass="-right-0"  [threshold]="500" icon="gg-arrow-up"  >    
        <ng-template pTemplate="icon" >
          <svg class="fill-white h-6 w-6" viewBox="0 0 24 24"  fill="currentColor" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C12.2652 3 12.5196 3.10536 12.7071 3.29289L19.7071 10.2929C20.0976 10.6834 20.0976 11.3166 19.7071 11.7071C19.3166 12.0976 18.6834 12.0976 18.2929 11.7071L13 6.41421V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V6.41421L5.70711 11.7071C5.31658 12.0976 4.68342 12.0976 4.29289 11.7071C3.90237 11.3166 3.90237 10.6834 4.29289 10.2929L11.2929 3.29289C11.4804 3.10536 11.7348 3 12 3Z" ></path> </g></svg>
        </ng-template>        
        </p-scrollTop>
    </div>
    
  </ng-container>
 
  
</div>

