<app-titulo-seccion titulo="Parámetros de empaque" numero="14" departamento="Customer" [habilitado]="!isDisabledForm"></app-titulo-seccion>
<h1 class="text-2xl text-center mt-2" [ngClass]="{'text-gray-400': isDisabledForm}">Datos impresos en Etiqueta</h1>    
<div class="flex flex-col gap-4 items-center mt-2 ">
    
    <div class="w-full sm:w-2/3">
        <app-form-input [form]="formName" label="Cliente" name="etiqueta_cliente"></app-form-input>        
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-input [form]="formName" label="Producto" name="etiqueta_producto"></app-form-input>        
      </div>
     
      <div class="w-full sm:w-2/3 ">
        <app-form-switch [form]="formName" label="OP en producción" labelOn="Aplica" labelOff="No aplica" name="etiqueta_op"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3 ">
        <app-form-switch [form]="formName" label="Orden de compra" labelOn="Aplica" labelOff="No aplica" name="etiqueta_orden_compra"></app-form-switch>
      </div>
      
      <div class="w-full sm:w-2/3">
        <app-form-input [form]="formName" label="Cantidad" name="etiqueta_cantidad"></app-form-input>        
      </div>
      <div class="w-full sm:w-2/3 ">
        <app-form-switch [form]="formName" label="Fecha  fabricación" labelOn="Aplica" labelOff="No aplica" name="etiqueta_fecha_corriente"></app-form-switch>
      </div>
     
      <div class="w-full sm:w-2/3">
        <app-form-input [form]="formName" label="Destino de acuerdo a lista de distribución" name="etiqueta_destino"></app-form-input>        
      </div>
      <div class="w-full sm:w-2/3 ">
        <app-form-switch [form]="formName" label="Logo Litoprocess" labelOn="Aplica" labelOff="No aplica" name="etiqueta_logotipo"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-file-upload 
        
         label="Imagen de referencia" [multiple]="false" 
        [disabled]="isDisabledForm"
        [filesUploaded]="obtenerArchivos('etiquetaImagen')" (onAdd)="addFile($event,'etiquetaImagen')" (onRemove)="removeFile($event,'etiquetaImagen')"
        ></app-file-upload>
      </div>


      
      
     
      
      
</div>

