  
  <div
        class="flex justify-between bg-gray-100/60 gap-4 border rounded-t  border-gray-200  shadow-xl px-4  absolute  w-full z-40">
        <button type="button"
        [disabled]="guardando"
         (click)="onRegresar.emit()" class="text-gray-500  hover:text-gray-800 p-3 rounded-md focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <div>
          @if (catalogoAreas){

            <p-multiSelect 
            class="custom-ms"
      [options]="catalogoAreas"       
      [disabled]="guardando"
      optionLabel="descripcion" 
      selectedItemsLabel="{0} areas "
      scrollHeight="300px"
      filter="false"    
      filterPlaceHolder="Buscar"
      [(ngModel)]="areasSeleccionadas"
      styleClass=" m-1  p-0 w-[400px] sm:flex hidden font-inter"
      panelStyleClass="bg-white shadow-md" 
      placeholder="Seleccionar areas" >
      <ng-template let-area pTemplate="item">
        <div class="flex justify-between  gap-2 w-full" >          
          <div >{{ area.descripcion  }}</div>
          <div *ngIf="area.puedeEditar">
            <svg class="w-5 h-5  fill-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
              d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
        </div>
      </div>

      </ng-template>
            </p-multiSelect>
          }
        </div>
        <div class="flex  gap-2">
          
             @if(!guardando){                         
              <button type="button" 
          (click)="onGuardar.emit()"
          [disabled]="!habilitarGuardar"
            class="
            text-blue-500 hover:text-blue-700 px-4 py-3 rounded-md focus:outline-none disabled:opacity-50 
            disabled:hover:text-gray-500
            disabled:cursor-not-allowed
             ">
              <svg class="w-6 h-6" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Icon-Set" transform="translate(-152.000000, -515.000000)" fill="currentColor">
                    <path
                      d="M171,525 C171.552,525 172,524.553 172,524 L172,520 C172,519.447 171.552,519 171,519 C170.448,519 170,519.447 170,520 L170,524 C170,524.553 170.448,525 171,525 L171,525 Z M182,543 C182,544.104 181.104,545 180,545 L156,545 C154.896,545 154,544.104 154,543 L154,519 C154,517.896 154.896,517 156,517 L158,517 L158,527 C158,528.104 158.896,529 160,529 L176,529 C177.104,529 178,528.104 178,527 L178,517 L180,517 C181.104,517 182,517.896 182,519 L182,543 L182,543 Z M160,517 L176,517 L176,526 C176,526.553 175.552,527 175,527 L161,527 C160.448,527 160,526.553 160,526 L160,517 L160,517 Z M180,515 L156,515 C153.791,515 152,516.791 152,519 L152,543 C152,545.209 153.791,547 156,547 L180,547 C182.209,547 184,545.209 184,543 L184,519 C184,516.791 182.209,515 180,515 L180,515 Z"
                      id="save-floppy"></path>
                  </g>
                </g>
              </g>
            </svg>
              </button>
             }@else{
              
              <button type="button"                             
                class="
                text-blue-500  px-4 py-3 rounded-md  cursor-not-allowed
                 ">
              <svg class="animate-spin h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
              </svg>
            </button>
             }
            
          
        </div>
      </div>