<div class="flex flex-col">
  <h3 class="text-lg font-inter text-gray-900 mb-1">{{label}}</h3>
  @if(!multiple && filesUploaded.length == 0) {
    <div class="mt-1 flex justify-center px-4 py-4 border border-gray-300 border-dashed rounded-md"
         [ngClass]="{'bg-gray-300/60 cursor-not-allowed': disabled}">
      <div class="space-y-1 text-center">
        <svg class="mx-auto h-8 w-8 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
             aria-hidden="true">
          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"/>
        </svg>
        @if(!disabled) {
          <div class="flex text-sm text-gray-600 justify-center">
            <label [for]="identificador"
                   class="relative cursor-pointer bg-white rounded-md font-medium text-gray-500 hover:text-gray-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
              <span>Subir archivo</span>
              <input [id]="identificador" [attr.disabled]="disabled ? '' : null" (change)="appendFiles($event)"
                     [name]="identificador" type="file" class="sr-only" accept="image/*"/>
            </label>
          </div>
          <p class="text-xs text-gray-500">Solo imágenes hasta 10MB</p>
        }
      </div>
    </div>
  }
  @if(multiple) {
    <div class="mt-1 flex justify-center px-4 py-4 border border-gray-300 border-dashed rounded-md"
    [ngClass]="{'bg-gray-300/60 cursor-not-allowed': disabled}">
 <div class="space-y-1 text-center">
   <svg class="mx-auto h-8 w-8 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
        aria-hidden="true">
     <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
           strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"/>
   </svg>
   @if(!disabled) {
     <div class="flex text-sm text-gray-600 justify-center">
       <label [for]="identificador"
              class="relative cursor-pointer bg-white rounded-md font-medium text-gray-500 hover:text-gray-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
         <span>Subir archivos</span>
         <input [id]="identificador" [attr.disabled]="disabled ? '' : null" (change)="appendFiles($event)"
                [name]="identificador" type="file" multiple class="sr-only" accept="image/*"/>
       </label>
     </div>
     <p class="text-xs text-gray-500">Solo imágenes hasta 10MB</p>
   }
 </div>
</div>

    <!-- <div class="mt-1 flex  justify-center px-4 py-2 border border-gray-300 border-dashed rounded-md"
         [ngClass]="{'bg-gray-300/60 cursor-not-allowed': disabled}">
      <div class="space-x-3 text-center flex ">
        <svg class="mx-auto h-8 w-8 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
             aria-hidden="true">
          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"/>
        </svg>
        @if(!disabled) {
          <div class="flex text-sm text-gray-600 justify-center">
            <label [for]="identificador"
                   class="self-center  cursor-pointer bg-white rounded-md font-medium text-gray-500 hover:text-gray-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
              <span >Subir archivos</span>
              <input [id]="identificador" [attr.disabled]="disabled ? '' : null" (change)="appendFiles($event)"
                     [name]="identificador" multiple type="file" class="sr-only" accept="image/*"/>
            </label>
          </div>
          
          
        }
      </div>
      
    </div>
    <div class="flex justify-end ">
      <p class="text-xs text-gray-500">Solo imágenes hasta 10MB</p>
    </div> -->
  }
  <div class="mt-2 flex flex-col gap-1 items-center">
    @if(filesUploaded.length > 0) {
      @for(file of filesUploaded; track file) {
        <div class="relative w-full sm:w-1/2">
          @if(!disabled) {
            <button class="bg-black/60 text-white -top-2 -right-2 absolute p-1 rounded-full" (click)="quitarImagen(file)">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          }
          <img [src]="file.base64" class="w-full h-auto mx-auto"/>
        </div>
      }
    }
  </div>
</div>