<app-titulo-seccion titulo="Materiales del producto" numero="3"
[habilitado]="!isDisabledForm"
departamento="Cotizaciones"></app-titulo-seccion>
<div class="flex flex-col items-center gap-2 py-5">
<div class="w-full sm:w-2/3">
  <app-form-input [form]="formName" label="Pliego Impreso" name="pliego"></app-form-input>
</div>
<div class="w-full sm:w-2/3">
  <app-form-input [form]="formName" label="Single" name="single"></app-form-input>
</div>
<div class="w-full sm:w-2/3">
  <app-form-input [form]="formName" label="Corrugado Tacon" name="corrugado_tacon"></app-form-input>
</div>
<div class="w-full sm:w-2/3">
  <app-form-input [form]="formName" label="Adhesivo" name="adhesivo"></app-form-input>
</div>
<div class="w-full sm:w-2/3">
  <app-form-input [form]="formName" label="Cinta" name="cinta"></app-form-input>
</div>
</div>
