<div class="py-5 mt-10 w-4/5 sm:mx-auto">

      <div class="h-[90vh]  px-4  overflow-hidden bg-white mx-10 md:mx-0 shadow rounded-md sm:p-5">
    
        <div class="mx-auto ">
    
          <form class="divide-y divide-gray-200 ">
            <div class=" text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 ">
           
                <ejs-grid #grid [dataSource]='solicitudes()' [filterSettings]="filterSettings " (dataBound)='dataBound()'
    [allowExcelExport]='true'  [height]="heightGrid" allowReordering='true' [allowFiltering]=true
    allowPaging="true " allowResizing="true" allowSorting="true" [pageSettings]='pageSettings'>
    <e-columns>
      <!-- <ng-template #toolbarTemplate let-data>
        <div class="flex justify-end border-1 rounded-t-md " style="background-color: #f9fafb;;">          
          <button
            class="mr-5 my-2 p-2 border font-bold border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            Boton 1
            
          </button>
          
        </div>

      </ng-template> -->

      <!-- <e-column field="id" headerText='id' width='80'>
        <ng-template #template let-data>
          {{data.id}}
        </ng-template> 
      </e-column>-->
      <e-column field='nombre' width='120' ></e-column>
      <e-column field='fecha' width='120' ></e-column>
      <e-column headerText='' allowFiltering="false" textAlign='Center'  >
        <ng-template #template let-solicitud  >
          <button
          (click)="irDetalle(solicitud.id)"
            class="p-2 border font-bold   border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            Ver detalle</button>
        </ng-template> 
      </e-column>
      <e-column headerText='' allowFiltering="false" textAlign='Center'  >
        <ng-template #template let-data >
            
          <button
            class="   p-2 border font-bold   border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            PDF </button>
        </ng-template> 
      </e-column>
      <e-column headerText='' allowFiltering="false" textAlign='Center'  >
        <ng-template #template let-data >
            
          <button
            class="   p-2 border font-bold   border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            PDF </button>
        </ng-template> 
      </e-column>
      <e-column headerText='' allowFiltering="false" textAlign='Center'  >
        <ng-template #template let-data >
            
          <button
            class="   p-2 border font-bold   border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            PDF </button>
        </ng-template> 
      </e-column>
      <e-column headerText='' allowFiltering="false" textAlign='Center'  >
        <ng-template #template let-data >
            
          <button
            class="   p-2 border font-bold   border-slate-400 text-xs rounded-md  hover:bg-indigo-700 hover:text-white">
            PDF </button>
        </ng-template> 
      </e-column>
        </e-columns>
                </ejs-grid>
           
            </div>
          </form>
        </div>
      </div>
    
    
  </div>