
<app-titulo-seccion titulo="Requisitos documentales" numero="15" departamento="Customer"></app-titulo-seccion>

<div class="flex flex-col gap-4 items-center mt-2 ">
    <div class="w-full sm:w-2/3">
        <app-form-input form="customer" label="Lista de distribución" name="lista_distribucion"></app-form-input>        
      </div>
      <div class="w-full sm:w-2/3 ">
        <app-form-switch form="customer" label="Certicado de calidad" labelOn="SI" labelOff="NO" name="certificado_calidad"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-switch form="customer" label="Carta de color" labelOn="SI" labelOff="NO" name="carta_color"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-switch form="customer" label="Carta de garantia" labelOn="SI" labelOff="NO" name="carta_garantia"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-switch form="customer" label="Factura" labelOn="SI" labelOff="NO" name="factura"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-switch form="customer" label="Remisión" labelOn="SI" labelOff="NO" name="remision"></app-form-switch>
      </div>
      <div class="w-full sm:w-2/3">
        <app-form-switch form="customer" label="Orden de compra" labelOn="SI" labelOff="NO" name="orden_compra"></app-form-switch>
      </div>
    
</div>
