<app-titulo-seccion titulo="Impresión" numero="4" departamento="Preprensa"></app-titulo-seccion>
<div class="grid sm:grid-cols-2 gap-4 py-5" [formGroup]="formGroupName('prePrensa')">
  <div class="space-y-2">
    <h6 class="text-center font-semibold">Tintas 1ra Entrada</h6>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">1</label>
      <input type="text" name="tinta_1_1" formControlName="tinta1_1"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">2</label>
      <input type="text" name="tinta_1_2" formControlName="tinta1_2"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">3</label>
      <input type="text" name="tinta_1_3" formControlName="tinta1_3"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">4</label>
      <input type="text" name="tinta_1_4" formControlName="tinta1_4"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">5</label>
      <input type="text" name="tinta_1_5" formControlName="tinta1_5"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
  </div>
  <div class="space-y-2">
    <h6 class="text-center font-semibold">Tintas 2da Entrada</h6>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">1</label>
      <input type="text" name="tinta_2_1" formControlName="tinta2_1"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">2</label>
      <input type="text" name="tinta_2_2" formControlName="tinta2_2"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">3</label>
      <input type="text" name="tinta_2_3" formControlName="tinta2_3"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">4</label>
      <input type="text" name="tinta_2_4" formControlName="tinta2_4"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
    <div class="flex">
      <label class="pb-2 self-center mx-3 leading-loose">5</label>
      <input type="text" name="tinta_2_5" formControlName="tinta2_5"
        class="w-full px-4 py-2 text-gray-600 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" />
    </div>
  </div>

</div>
<div class="flex justify-center">
  <div class="w-full  sm:w-2/3">
    <app-form-input form="prePrensa" label="Barniz" name="barniz"></app-form-input>
  </div>
</div>

<app-file-upload [multiple]="true" ></app-file-upload>          
