
<div class="flex justify-between mt-3 border px-2 py-1 mb-2 rounded bg-slate-100 shadow" [ngClass]="{'cursor-not-allowed': !habilitado}"
>    
    <div class="flex">
      @if(numero!=""){
        <div class="h-8 w-8  rounded-full flex flex-shrink-0 justify-center items-center  font-mono"
        [ngClass]="{'bg-blue-200  text-blue-500 ': habilitado, 'bg-gray-200  text-gray-400': !habilitado}"
        >{{numero}}</div>
        <div class="pl-3 font-semibold text-xl self-center text-gray-700"  [ngClass]="{'text-gray-700': habilitado, 'text-gray-400': !habilitado}">
          <h2 class="text-sm  font-inter sm:text-xl  leading-relaxed">{{titulo}}</h2>            
        </div>        
      }@else{
        <div class="pl-6 font-semibold text-xl self-center text-gray-700"  [ngClass]="{'text-gray-700': habilitado, 'text-gray-400': !habilitado}">
          <h2 class="text-sm  font-inter sm:text-xl  leading-relaxed">{{titulo}}</h2>            
        </div>        
      }        
        
    </div>
    <div class="self-end text-end pl-2 font-semibold text-sm  sm:flex hidden" [ngClass]="{'text-blue-700': habilitado, 'text-gray-400': !habilitado}">
        <h2 class="leading-relaxed">{{departamento}}</h2>    
      </div>
</div>
